
ul{
    list-style-type: none;
    padding:0;

}
.dice {
font-size: 50px;
border:1px solid lightgray;
width:50px;
height:50px;
text-align:center;
padding:5px;
}
.dice[data-keep="1"]{
    border: 1px solid limegreen;
    background-color: lightgreen;
}
.dice:hover{
    cursor:pointer;
    border: 1px solid lightgreen;
}

.btn{
font-size:25px;
width:50px;
height:50px;

}
.roll,.restart{
font-size:20px;
width:auto;
border:1px solid orange;
cursor:pointer;
}
th{
    width:300px;
}
td{
    border:1px solid lightgray;
    margin:5px;
}